<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{! Custom TrEx styles }}
	<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{asset "css/tx.buttons.css"}}"/>
	<link rel="stylesheet" type="text/css" href="{{asset "css/tx.base.css"}}"/>
    {{#is "index"}}
	    <link rel="stylesheet" type="text/css" href="{{asset "css/tx.index.css"}}"/>
    {{/is}}
    {{#is "post"}}
	    <link rel="stylesheet" type="text/css" href="{{asset "css/tx.post.css"}}"/>
	    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/solarized-dark.min.css">
    {{/is}}

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">Translation Exchange</a> &copy; {{date format="YYYY"}}</section>
        </footer>

    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    {{! Custom TrEx scripts }}
    {{#is "index"}}
	    <script type="text/javascript" src="{{asset "js/tx.index.js"}}"></script>
    {{/is}}
    {{#is "post"}}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
        <script type="text/javascript" src="{{asset "js/tx.post.js"}}"></script>
    {{/is}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
</body>
</html>
