{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

	<header class="main-header post-head no-cover">
		<nav class="main-nav clearfix">
			<div class="inner">
                {{#if @blog.logo}}
					<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"/></a>
                {{/if}}
                {{#if @blog.navigation }}
                    {{navigation}}
                {{/if}}
			</div>
		</nav>
		<nav class="tx-subnav clearfix">
			<div class="inner">
                {{> breadcrumbs  }}
			</div>
		</nav>
	</header>

	<main class="content" role="main">
		<article class="{{post_class}}">
			<nav>
                {{> menu }}
			</nav>

			<header class="post-header">
				<h1 class="post-title">{{title}}</h1>
			</header>

    		<section class="post-content">
			    <div class="tx-page-nav">
				    <ul class="tx-unstyled">
					    <li><a href="#tutorial-1" class="selected" data-action="tutorial-1">{{title}}</a></li>
					    <li><a href="#tutorial-2" class="tx-tutorial-2-title" data-action="tutorial-2"></a></li>
				    </ul>
			    </div>
                <div class="tx-tutorial-1-content">
                    {{content}}
                </div>
                <div class="tx-tutorial-2-content">

                </div>
			</section>

			<footer class="post-footer">
                {{tags}}
			</footer>
		</article>
	</main>
{{/post}}
