{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

	<header class="tx-main-header tx-post-header">
		<nav class="tx-main-nav clearfix">
			<div class="inner">
                {{#if @blog.logo}}
					<a class="tx-blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"/></a>
                {{/if}}
                {{#if @blog.navigation }}
                    {{navigation}}
                {{/if}}
			</div>
		</nav>
		<nav class="tx-subnav clearfix">
			<div class="inner">
                {{> breadcrumbs  }}
			</div>
		</nav>
	</header>

	<main class="tx-content" role="main">
		<article class="tx-post">
			<nav>
                {{> menu }}
			</nav>

			<header class="tx-post-header">
				<h1 class="tx-post-title">{{title}} <span></span></h1>
			</header>

            <section class="tx-page-nav">
                <ul class="tx-inline">
                    <li><a href="#tutorial-1" class="selected" data-action="tutorial-1">{{title}}</a></li>
                    <li><a href="#tutorial-2" class="tx-tutorial-2-title" data-action="tutorial-2"></a></li>
                </ul>
            </section>

    		<section class="tx-post-content">
                <div class="tx-tutorial-1-content">
                    {{content}}
                </div>
                <div class="tx-tutorial-2-content">

                </div>
			</section>

			<footer class="tx-post-footer">

			</footer>
		</article>
	</main>
{{/post}}
